<footer class="bg-black text-gold text-center p-6">
    <p class="text-lg mb-4 font-trebuc">Gostou do site? Então nos siga em nossas redes sociais</p>
    <div class="flex justify-center gap-4">
        <a href="https://twitter.com/GoldenStars_VGC" class="text-gold hover:text-gray-400">
            <i class="fab fa-x-twitter text-3xl"></i>
        </a>
        <a href="https://www.instagram.com/goldenstars_vgc/" class="text-gold hover:text-gray-400">
            <i class="fab fa-instagram text-3xl"></i>
        </a>
    </div>
</footer>