.modal {
    overflow-y: auto; /* Permite rolar o conteúdo interno do modal */
  }

  /* Estilizando a barra de rolagem apenas dentro da div com fundo preto (bg-black) */
.bg-black::-webkit-scrollbar {
  width: 8px;
}

.bg-black::-webkit-scrollbar-track {
  background: #2e2e2e;
}

.bg-black::-webkit-scrollbar-thumb {
  background-color: #f5a623;
  border-radius: 4px;
  border: 2px solid #2e2e2e;
}

/* Para Firefox */
.bg-black {
  scrollbar-width: thin;
  scrollbar-color: #f5a623 #2e2e2e;
}
