<div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 lg:py-6 justify-items-center">
    <!-- Card do Player -->
    <div *ngFor="let player of players"
        class="w-64 sm:w-64 h-64 rounded-full bg-cover bg-center flex items-center justify-center cursor-pointer"
        [ngStyle]="{'background-image': 'url(assets/coin.png)'}" (click)="openModal(player)">
        <div class="text-center">
            <h3 class="text-black font-bold mt-4 font-trebuc">{{ player.nome
                }}</h3>
            <p class="text-black mt-24 font-trebuc">{{ player.apelido }}</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="modalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70 p-4">
    <div class="relative bg-cover bg-center w-full max-w-lg lg:max-w-4xl p-6 rounded-lg overflow-y-auto
                max-h-screen sm:max-w-sm md:max-w-md md:h-96 lg:max-w-4xl lg:h-auto lg:max-h-[90vh]" [ngStyle]="{
        'background-image': 'url(assets/bg_card2.png)', 
        'background-size': 'contain', 
        'background-position': 'center'
    }">

        <button class="absolute top-2 right-2 text-white" (click)="closeModal()">X</button>

        <!-- Imagem e Conteúdo do Modal -->
        <div class="flex flex-col items-center">
            <img [src]="selectedPlayer.image" alt="Imagem do Player"
                class="w-32 h-32 sm:w-40 sm:h-40 lg:w-56 lg:h-56 rounded-full mb-4 object-cover object-top">
            <div class="bg-black bg-center bg-opacity-60 rounded-lg text-center p-4 max-h-48 overflow-y-auto">
                <h3 class="text-white text-2xl font-trebuc mb-4">{{ selectedPlayer.nome }}</h3>
                <p class="text-white text-lg font-trebuc mb-4">{{ selectedPlayer.apelido }}</p>
                <p class="text-white font-trebuc">{{ selectedPlayer.texto }}</p>
            </div>
        </div>
    </div>
</div>