<div class="flex flex-col items-center text-center p-4">
    <img src="assets/logo_gs.png" alt="Logo do Time" class="w-full h-auto max-h-40 md:max-h-56 object-contain my-6">

    <p class="text-lg font-trebuc">
        💫 𝐎 𝐢𝐧𝐢𝐜𝐢𝐨 𝐝𝐞 𝐮𝐦𝐚 𝐧𝐨𝐯𝐚 𝐞𝐫𝐚! 💫
    </p>
    <p class="text-lg font-trebuc">
        Sejam todos bem-vindos a nossa página!
    </p>
    <p class="text-lg font-trebuc">
        A Golden Stars nasceu em Fevereiro de 2023, após muita reflexão do seu fundador, Fabio Souza, realizando o sonho
        de, depois de muitos anos fazendo parte de uma equipe e contribuindo ativamente com gestão e nível de jogo,
        dando um passo adiante em gerir sua própria equipe competitiva e respeitosa.
    </p>
    <p class="text-lg font-trebuc">
        ⭐️ 𝐌𝐚𝐬 𝐩𝐨𝐫 𝐪𝐮𝐞 𝐆𝐨𝐥𝐝𝐞𝐧 𝐒𝐭𝐚𝐫𝐬? ⭐️
    </p>
    <p class="text-lg font-trebuc">
        O intuito da criação desse time é juntar os principais valores de um grupo perante uma comunidade (respeito,
        amizade e espírito de competição), aliados as interessantes características e curiosidades do nosso "mascote",
        tão novo e especial, por meio de algumas premissas:
    </p>
    <p class="text-lg font-trebuc">
        1. Assim como o nosso mascote (Gholdengo) é imune a diversos status, queremos pessoas de mente inabalável,
        fortes e decididas, com espírito de equipe, respeito perante toda a comunidade, e espírito de ambição por ideais
        maiores!
        Alcançar as estrelas é o mínimo para nós!
    </p>
    <p class="text-lg font-trebuc">
        2. Ser o número #1000 é um fator muito especial, e a ideia de captação e seleção do nosso time será idêntica:
        buscamos jogadores especiais na sua essência, independente de suas origens, porém totalmente orientado pelos
        nossos pilares de amizade, respeito e espírito de competição.
        Estende-se aqui todo um conceito de ética perante as demais equipes já existentes, seja LATAM ou nossos colegas
        brasileiros.
        A Golden Stars deseja fazer parte dessa história que o VGC nos permite escrever, juntamente com as demais
        equipes, sempre com respeito e diálogo.
    </p>
    <p class="text-lg font-trebuc">
        3. Os jogadores/amigos/competidores "de milhões", alusão ao que representa o ouro: buscamos pessoas de ouro em
        todos os sentidos da palavra!
        Estimamos que nossos jogadores se inspirem no efeito de animação mais feliz do nosso mascote e claro, transmitir
        alegria e respeito por onde passar.
        Nem sempre teremos dias de glórias, mas ferir nossos valores é algo intolerável!
    </p>
    <p class="text-lg font-trebuc">
        Agradecemos a todos pela visita e vamos - literalmente, fazer chover e brilhar, em busca de muitas glórias!
    </p>
    <p class="text-lg font-trebuc mb-4">
        🌟 𝐆𝐨𝐥𝐝𝐞𝐧 𝐒𝐭𝐚𝐫𝐬 𝐞𝐒𝐩𝐨𝐫𝐭𝐬 🌟
    </p>
    <img src="assets/time_gs.png" alt="Imagem dos Players"
        class="w-full md:w-80 lg:w-96 h-auto max-h-48 md:max-h-72 object-contain mb-6">

</div>